<div class="fx-layout-row fx-align--start-x fx-align--x-center fx-layout-wrap fx-gap--10px">
  {{#each buffsSingle}}
    {{{this}}}
  {{/each}}

  {{#each buffsGroups}}
    {{{this}}}
  {{/each}}
</div>
