<div class="fx-layout-row fx-align--start-x fx-align--x-center fx-layout-wrap fx-gap--11px">
  {{#each buffsSingleHtml}}
    {{{this}}}
  {{/each}}

  {{#each buffsGroupHtml}}
    {{{this}}}
  {{/each}}
</div>
