<div class="fx-layout-row fx-align--start-x fx-align--x-center fx-layout-wrap fx-gap--11px">
  {{#each buffSinglesHtml}}
    {{{this}}}
  {{/each}}

  {{#each buffGroupsHtml}}
    {{{this}}}
  {{/each}}

  {{#each buffItemsHtml}}
    {{{this}}}
  {{/each}}
</div>