@font-face {
  font-family: 'Modesto';
  src: url('../../assets/fonts/modesto-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modesto';
  src: url('../../assets/fonts/modesto-italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Modesto';
  src: url('../../assets/fonts/modesto-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.fs-1 {
  font-size: 17px;
}

.fs-2 {
  font-size: 14px;
}

.fs-3 {
  font-size: 11px;
}
