.tippy-box {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin: 0px;
  padding: 10px;
  background: hsla(67, 95%, 95%, 1);
  border: solid 5px rgb(106, 6, 6);
  box-shadow: 3px 10px 0px rgba(0, 0, 0, 0.25);
}
