@use 'css-fx-layout' as fx;

@include fx.class-selectors(false);
@include fx.gap-class-selectors(1, 16, 1, px em, false);

@font-face {
  font-family: 'Modesto';
  src: url('fonts/modesto-regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Modesto';
  src: url('fonts/modesto-italic.ttf');
  font-style: italic;
}

html {
  height: 100%;
  padding: 5px;
  font-family: 'Modesto';
  font-size: larger;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 5px;
  height: calc(100% - 25px);
  background-color: red;
  cursor: pointer;
  border: 3px solid #39373a;
  border-radius: 5px;
}

#title {
  -webkit-app-region: drag;
}
