@use 'css-fx-layout' as fx;

@include fx.class-selectors(false);
@include fx.gap-class-selectors(1, 16, 1, px em, false);

@font-face {
  font-family: 'Modesto';
  src: url('../../../assets/fonts/modesto-regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Modesto';
  src: url('../../../assets/fonts/modesto-italic.ttf');
  font-style: italic;
}

html {
  height: 100%;
  padding: 5px;
  font-family: 'Modesto';
  background: url('../../../assets/images/background.jpg');
  background-size: cover;
  background-position: center center;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 5px;
  height: calc(100% - 25px);
  cursor: pointer;
}

#title {
  // Empty
}

.fs-1 {
  font-size: 17px;
}

.fs-2 {
  font-size: 14px;
}

.fs-3 {
  font-size: 11px;
}
