{{#each pros}}
  <div class="buff-wrapper fx-layout-column fx-align--start-x fx-align--x-center">
    <img class="has-tooltip" draggable="false" src="data:image/png;base64,{{image}}" />
    <div>{{resItm.name}}</div>
  </div>
{{/each}}
