<!DOCTYPE html>
<html class="fs-2">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body class="running">
    <div class="fx-layout-column fx-align--start-x fx-align--x-stretch fx-gap--10px">
      <div id="header"></div>

      <div id="buffs"></div>

      <div id="abilities"></div>

      <div class="fx-layout-row fx-gap--10px">
        <div class="fx-flex fx-layout-column fx-align--start-x fx-align--x-stretch fx-gap--10px">
          <div id="combat"></div>

          <div id="profs"></div>
        </div>

        <div class="fx-flex fx-layout-column fx-align--start-x fx-align--x-stretch fx-gap--10px">
          <div id="resistances"></div>

          <div id="saves"></div>
        </div>
      </div>

      <div id="imms"></div>
    </div>
  </body>
</html>
