<!DOCTYPE html>
<html class="fs-1">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div class="fx-layout-column fx-align--start-x fx-align--x-stretch">
      <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
        <div class="fx-layout-row fx-align--start-x fx-align--x-center">
          <div id="enemyAlly">🏳️</div>

          <div id="name" class="ml-5"></div>

          <div class="ml-5">
            <span>HP</span>
            <span id="hp" class="ml-3"></span>
            <span>/</span>
            <span id="hpMax"></span>
          </div>
        </div>

        <div>Hola</div>
      </div>

      <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
        <div>
          <span>Race:</span>
          <span id="race" class="ml-3"></span>
        </div>
      </div>

      <div class="fx-layout-row fx-align--space-between-x fx-align--x-start">
        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>STR</div>
            <div id="str"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>DEX</div>
            <div id="dex"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>CON</div>
            <div id="con"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>INT</div>
            <div id="int"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>WIS</div>
            <div id="wis"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>CHA</div>
            <div id="cha"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>STR</div>
            <div id="str2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>DEX</div>
            <div id="dex2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>CON</div>
            <div id="con2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>INT</div>
            <div id="int2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>WIS</div>
            <div id="wis2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>CHA</div>
            <div id="cha2"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>STR</div>
            <div id="str3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>DEX</div>
            <div id="dex3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>CON</div>
            <div id="con3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>INT</div>
            <div id="int3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>WIS</div>
            <div id="wis3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>CHA</div>
            <div id="cha3"></div>
          </div>
        </div>
      </div>

      <div class="fx-layout-row fx-align--space-between-x fx-align--x-start">
        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Fire</div>
            <div id="resistFire"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Cold</div>
            <div id="resistCold"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Electricity</div>
            <div id="resistElectricity"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Acid</div>
            <div id="resistAcid"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Magic</div>
            <div id="resistMagic"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poison</div>
            <div id="resistPoison"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Slashing</div>
            <div id="resistSlashing"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Crushing</div>
            <div id="resistCrushing"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Piercing</div>
            <div id="resistPiercing"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Missile</div>
            <div id="resistMissile"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Fire</div>
            <div id="resistFire2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Cold</div>
            <div id="resistCold2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Electricity</div>
            <div id="resistElectricity2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Acid</div>
            <div id="resistAcid2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Magic</div>
            <div id="resistMagic2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poison</div>
            <div id="resistPoison2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Slashing</div>
            <div id="resistSlashing2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Crushing</div>
            <div id="resistCrushing2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Piercing</div>
            <div id="resistPiercing2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Missile</div>
            <div id="resistMissile2"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Fire</div>
            <div id="resistFire3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Cold</div>
            <div id="resistCold3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Electricity</div>
            <div id="resistElectricity3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Acid</div>
            <div id="resistAcid3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Magic</div>
            <div id="resistMagic3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poison</div>
            <div id="resistPoison3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Slashing</div>
            <div id="resistSlashing3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Crushing</div>
            <div id="resistCrushing3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Piercing</div>
            <div id="resistPiercing3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Piercing</div>
            <div id="resistMissile3"></div>
          </div>
        </div>
      </div>

      <div class="fx-layout-row fx-align--space-between-x fx-align--x-start">
        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Death</div>
            <div id="saveVsDeath"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Wands</div>
            <div id="saveVsWands"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poly</div>
            <div id="saveVsPoly"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Breath</div>
            <div id="saveVsBreath"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Spell</div>
            <div id="saveVsSpell"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Death</div>
            <div id="saveVsDeath2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Wands</div>
            <div id="saveVsWands2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poly</div>
            <div id="saveVsPoly2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Breath</div>
            <div id="saveVsBreath2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Spell</div>
            <div id="saveVsSpell2"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Death</div>
            <div id="saveVsDeath3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Wands</div>
            <div id="saveVsWands3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poly</div>
            <div id="saveVsPoly3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Breath</div>
            <div id="saveVsBreath3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Spell</div>
            <div id="saveVsSpell3"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
