<!DOCTYPE html>
<html class="fs-1">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div class="fx-layout-column fx-align--start-x fx-align--x-stretch">
      <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
        <div class="fx-layout-row fx-align--start-x fx-align--x-center">
          <div id="enemyAlly">🏳️</div>

          <div id="name" class="ml-5"></div>

          <div class="ml-5">
            <span>HP</span>
            <span id="hp" class="ml-3"></span>
            <span>/</span>
            <span id="hpMax"></span>
          </div>
        </div>

        <div id="base"></div>
      </div>

      <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
        <div>
          <span>Race:</span>
          <span id="race" class="ml-3"></span>
        </div>
      </div>

      <div id="abilitiesGroup"></div>

      <div id="resistancesGroup"></div>

      <div class="fx-layout-row fx-align--space-between-x fx-align--x-start">
        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Death</div>
            <div id="saveVsDeath"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Wands</div>
            <div id="saveVsWands"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poly</div>
            <div id="saveVsPoly"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Breath</div>
            <div id="saveVsBreath"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Spell</div>
            <div id="saveVsSpell"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Death</div>
            <div id="saveVsDeath2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Wands</div>
            <div id="saveVsWands2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poly</div>
            <div id="saveVsPoly2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Breath</div>
            <div id="saveVsBreath2"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Spell</div>
            <div id="saveVsSpell2"></div>
          </div>
        </div>

        <div class="fx-layout-column fx-align--start-x fx-align--x-start">
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Death</div>
            <div id="saveVsDeath3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Wands</div>
            <div id="saveVsWands3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Poly</div>
            <div id="saveVsPoly3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Breath</div>
            <div id="saveVsBreath3"></div>
          </div>
          <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
            <div>Spell</div>
            <div id="saveVsSpell3"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
