.buff-wrapper {
  color: black;
  height: 32px;
  position: relative;
}

.item-wrapper {
  color: black;
  height: 50px;
}

.duration {
  color: black;
}

/////////

.cursor-pointer {
  cursor: pointer;
}

.caster-level {
  position: absolute;
  left: -10px;
}
