.buff-wrapper {
  color: black;
  width: 32px;
  max-width: 32px;
  height: 32px;
  max-height: 32px;
  border: 1px solid black;
  padding: 15px;
  position: relative;

  img {
    position: relative;
  }
}

.item-wrapper {
  color: black;
  height: 50px;
}

.duration {
  color: black;
  position: absolute;
  bottom: 0px;
}

/////////

.cursor-pointer {
  cursor: pointer;
}

.caster-level {
  position: absolute;
  bottom: 23px;
  left: 0px;
}
