{{#if weapons}}
  <div class="border p-3 fs-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
    <span>{{weapons}}.</span>
  </div>
{{/if}}

{{#if misc}}
  <div class="border p-3 fs-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
    <span>{{misc}}</span>
  </div>
{{/if}}

{{#if spells}}
  <div class="border p-3 break-all fs-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
    <span>Spell immunities: {{spells}}.</span>
  </div>
{{/if}}

{{#if opcodes}}
  <div class="border p-3 break-all fs-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
    <span>Opcode immunities: {{opcodes}}.</span>
  </div>
{{/if}}
