<div class="border p-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
  {{#if weapons}}
    <span>Weapon immunities: {{weapons}}.</span>
  {{/if}}

  {{#if spells}}
    <span class="break-all fs-3">Spell immunities: {{spells}}.</span>
  {{/if}}

  {{#if opcodes}}
    <span class="break-all fs-3">Opcode immunities: {{opcodes}}.</span>
  {{/if}}
</div>
