<div class="buff-wrapper fx-layout-column fx-align--start-x fx-align--x-center">
  <img draggable="false" src="data:image/png;base64,{{image}}" data-tippy-content="{{pros}}" />
  <div class="duration fs-3">{{duration}} {{id}}</div>
</div>
