<!DOCTYPE html>
<html class="fs-1">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="wrapper" class="fx-layout-column fx-align--center-x fx-align--x-center fx-gap--5px">
      <div class="fx-layout-column fx-align--start-x fx-align--x-start fx-gap--5px">
        <div id="alive"></div>

        <div id="reqs-path"></div>

        <div id="reqs-aslr"></div>

        <div id="reqs-ptrace"></div>
      </div>

      <pre id="config"></pre>

      <div>Close this window to quit BGPartner.</div>
    </div>
  </body>
</html>
