<div class="effect-wrapper fx-layout-column fx-align--start-x fx-align--x-center">
  <img src="data:image/png;base64,{{eff.image}}" />
  <div class="duration fs-3" id="{{eff.id}}">{{duration}} {{eff.id}}</div>
</div>
